
body {
  text-decoration: none;
}
h1 {
  display: flex;
  position: absolute;
  top: 20px;
  left: 40%;
  font-family: 'Racing Sans One';
  font-size: 30px;
}
.bet {
  font-family: 'Racing Sans One';
  font-size: 20px;
}
.background {
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  text-decoration: none;
}
.horse-logo {
  display: flex;
  position: absolute;
  top: 65px;;
  left: 47%;
  opacity: 1;
}
div {
  position: relative;
  display: block;
  top: 70px;
  width: 40px;
  height: 40px;
  float: left;
  margin: 5px;
}
.oddscalc {
  position: absolute;
  display: flex;
  top: 64px;
}
.results {
  width: auto;
}

.horse1 {
  display: block;
  background-color: blue;
}
.horse2 {
  display: block;
  background-color: red;
}
.horse3 {
  display: block;
  background-color: green;
}
.horse4 {
  display: block;
  background-color: yellow;
}
.horse5 {
  display: block;
  background-color: black;
}
.horse6 {
  display: block;
  background-color: purple;
}
.horse7 {
  display: block;
  background-color: orange;
}
.horse8 {
  display: block;
  background-color: grey;
}

form {
  display: flex;
  font-family: 'Racing Sans One', cursive;
  border: 2px solid green;
  width: 180px;
  padding: 3px;
  margin: 10px;
  position: absolute;
  top: 80px;
  right: 40px;
}
td {
  margin-left: auto;
  border: 2px solid auto;
  padding: 10px;
}
ul {
  position: absolute;
  top: 120px;
}
li {
  padding: 10px;
  margin: 15px;
  border: 2px solid black;
  font-size: 22px;
  font-family: 'Racing Sans One'; cursive;
  background: red;
  width: 250px;
  list-style: none;
  cursor: pointer;

}
a {
  text-decoration: none;
  font-family: 'Racing Sans One',cursive;
  font-size: 25px;
}

/*p {
  position: absolute;
  top: 44%;
  left: 43%;
  color: blue;
  font-family: 'Racing Sans One', cursive;
  font-size: 30px;
}*/
